body {
        background-color: 
}
.banner {
		height: 100px;
		width: 85%;
		/*border: 4px solid white;*/
		background-color: rgb(191,124,48);		
}
#rubrik {
        color: white;
        font-size: 80px;
        font-family: lucida handwriting;
        margin-top: 0px;
        
}
#slogan {
        margin: auto;
        float: right;
        font-family: lucida handwriting;
        margin-top: 65px;
        margin-right: 70px;
        font-size: 21px;
        color: white;
        
}
#rubrik2 {
        margin-top: 25px;
        margin-right: 15px;
        text-align: center;
        font-family: lucida handwriting;
}

.kategorier {
        border-bottom: 2px solid white;
        margin: 10px;
        font-size: 21px;
        font-family: cursive;
}
#sökformulär {
        margin-left: 15px;
}        
.category {
        height: 500px;
        margin-top: 20px;
        width: 15%;
        float: left;
        /*border: 5px solid blue;*/
        background-color: lightgray;
}

.main {
        height: 500px;
        margin-top: 20px;
        margin-left: 50px;
        width: 60%;
        float: left;
        border: 5px solid yellow;
        background-color: lightgray;
}

#bild {
        border: 5px solid blue;
        height: 300px;
        width: 300px;
        margin-left: 15px;
        background-color: pink;
}

.annons {
        height: 500px;
        margin-top: 20px;
        width: 14%;
        float: right;
        border: 5px solid green;
        background-color: lightgrey;
}
